*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #80a3d1a1;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    background-color: #3a5bee;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header{
    background-color: #eecd3a;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a {
    color: #333;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
} 
main {
    display: flex;
    background-color: #c43535;
    align-items: center;
    justify-content: center;
}
aside {
    background-color: #6878d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    size : 50%;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0bd13d;
    size : 50%;
}   